<router-outlet></router-outlet>
<app-header></app-header>
<main>
  <section class="container">
    <div class="container acerca-de">
      <div class="titulo">
        <h2>Acerca de</h2>
      </div>
      <p>Mi nombre es Santiago Javier Gomez, tengo 24 años, soy de Rosario, Argentina y actualmente soy estudiante de desarrollo web y programación.</p>
    </div>
    <div class="container">
      <h3>Intereses</h3>
    </div>
  </section>
  <app-experiencias></app-experiencias>
  <app-educacion></app-educacion>
  <app-habilidades></app-habilidades>
  <app-proyectos></app-proyectos>
</main>